env/
__pycache__/
user_db/__init__.py

# кэш папки data
data/*.txt
data/*.xml

# кэш папки logs
logs/*.txt
logs/*.log

# секьюрные настройки
settings_local.py

# тестовые скрипты
test*.py

# не передаваемые на сервер тпы файлов
*.png
*.sqlite